!!!
%html.no-js
  %head
    = render 'app/layouts/head'
  %body.color-custom.style-default.button-default.layout-full-width.one-page.no-content-padding.header-classic.minimalist-header-no.sticky-header.sticky-tb-color.ab-hide.subheader-both-center.menu-link-color.menuo-right.menuo-no-borders.footer-copy-center.mobile-tb-hide.mobile-side-slide.mobile-mini-mr-ll.tablet-sticky.mobile-header-mini.mobile-sticky.be-reg-20881
    #Wrapper
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js#Home
        .container
          = link_to root_path do
            .navbar-brand
              %img#iso.logo-main.scale-with-grid{:alt => "sacred touch healing", "data-height" => "50", "data-retina" => "/assets/img/logo.png", :src => "/assets/img/logo.png"}/
          %button.ml-auto.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.d-none-lg{"data-toggle" => "offcanvas", :type => "button"}
            %span.hamburger-box
              %span.hamburger-inner
          .content-offcanvas
            .offcanvas-collapse.fil#navbarNav
              %ul.navbar-nav.ml-auto
                %li.nav-item.active
                  %a.nav-link{:href => "/"}
                    Home
                %li.nav-item
                  %a.nav-link{:href => "#Header_wrapper"} About me 
                %li.nav-item
                  %a.nav-link{:href => "/#Services"} Services
                %li.nav-item
                  %a.nav-link{:href => "#License"} License       
                %li.nav-item
                  %a.nav-link{ :href => "#Testimonials"} Testimonials
                %li.nav-item
                  %a.nav-link{ :href => "#Contact"} Contact
              

      #Content
        .content_wrapper.clearfix
          .sections_group
            .entry-content
              = render 'app/front/partials/about/parallax.haml'
            
              = render 'app/front/partials/about/about-info.haml'
              = render 'app/front/partials/about/about-ideabox.haml'
              %section.about-ideabox
                .section_wrapper.mcb-section-inner
                  .about-ideabox__content
                    .about-ideabox__item
                    .about-ideabox__item
                    .about-ideabox__item

              = render 'app/front/partials/index/license.haml'
              = render 'app/front/partials/index/testimonials.haml'
              = render 'app/front/partials/index/contact.haml'
      = render 'app/front/partials/index/footer.haml'
    %script{:src => "/assets/js/jquery-2.1.4.min.js"}
    %script{:src => "/assets/js/bootstrap.min.js"}
    %script{:src => "/assets/js/jquery.plugins.js"}
    %script{:src => "/assets/js/translate3d.js"}
    -# %script{:src => "/assets/js/scripts.js"}
    %script{:src => "/assets/js/slick.js"}
    %script{:src => "/assets/js/fonts.js"}
    %script{:src => "/assets/js/mfn.menu.js"}
    %script{:src => "/assets/js/setting-slick.js"}
    -# %script{:src => "https://snapwidget.com/js/snapwidget.js"}
    %script{:src => "https://www.google.com/recaptcha/api.js"}
    :javascript
      $(window).scroll(function () {
        if ($(document).scrollTop() > 70 && ($(window).width() >= 768)) {
          $('.navbar-fixed-js').addClass('fixed');
          $('.nav-link__color ').addClass('fixed');
          $("#iso").addClass('img-size').attr('src', 'assets/img/logo-horizontal.png').removeClass('scroll-up');

        } else {
          $('.navbar-fixed-js').removeClass('fixed');
          $('.nav-link__color ').removeClass('link__color');
          $("#iso").removeClass('img-size').attr('src', 'assets/img/logo.png').removeClass('scroll-up');

        }
      });
      $(function () {
        $('[data-toggle="offcanvas"]').on('click', function () {
          $('.offcanvas-collapse').toggleClass('open');
          $('body').toggleClasss('offcanvas-expanded');
        })
      })