!!!
%html.no-js
  %head
    = render 'app/layouts/head'

  %body.color-custom.style-default.button-default.layout-full-width.one-page.no-content-padding.header-classic.minimalist-header-no.sticky-header.sticky-tb-color.ab-hide.subheader-both-center.menu-link-color.menuo-right.menuo-no-borders.footer-copy-center.mobile-tb-hide.mobile-side-slide.mobile-mini-mr-ll.tablet-sticky.mobile-header-mini.mobile-sticky.be-reg-20881
    #Wrapper
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js#Home
        .container
          = link_to root_path do
            .navbar-brand
              %img#iso.logo-main.scale-with-grid{:alt => "sacred touch healing", "data-height" => "50", "data-retina" => "/assets/img/logo.png", :src => "/assets/img/logo.png"}/
          %button.ml-auto.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.d-none-lg{"data-toggle" => "offcanvas", :type => "button"}
            %span.hamburger-box
              %span.hamburger-inner
          .content-offcanvas
            .offcanvas-collapse.fil#navbarNav
              %ul.navbar-nav.ml-auto
                %li.nav-item.active
                  %a.nav-link{:href => "#Home"}
                    Home
                %li.nav-item
                  %a.nav-link{:href => "#About"} About me 
                %li.nav-item
                  %a.nav-link{:href => "#Services"} Services
                %li.nav-item
                  %a.nav-link{:href => "#License"} License       
                %li.nav-item
                  %a.nav-link{ :href => "#Testimonials"} Testimonials
                %li.nav-item
                  %a.nav-link{ :href => "#Contact"} Contact
              
              

      %section.banner
        .section_wrapper.mcb-section-inner
          .main-content.main-content__slider
            - @banners.each do |banner|
              .main-content__banner
                .main-content__items
                  .main-content__description.content-description__desktop
                    %h1.main-content__title
                      = banner.title 
                    %p.main-content__text
                      = banner.subtitle 
                    %a.rev-btn.tp-resizeme.scroll.btn.btn-banner{:href => "#About", :target => "_self"} 
                      %i.fa.fa-chevron-down
                  .main-content__img{:style => "z-index: 5"}
                    .main-content__description.content-description__movil
                      %h1.main-content__title
                        = banner.title 
                      %p.main-content__text
                        = banner.subtitle 
                      %a.rev-btn.tp-resizeme.scroll.btn.btn-banner{:href => "#About", :target => "_self"} 
                        %i.fa.fa-chevron-down
                    %img.img-banner{:src => "#{banner.image}"}/

                    -# condición
                    %img.img-banner{:src => "/assets/img/photo-1510034141778-a4d065653d92.jpeg"}/
      #Content.home
        .content_wrapper.clearfix
          .sections_group
            .entry-content
              = render 'app/front/partials/index/about.haml'
              %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
              = render 'app/front/partials/index/services.haml'
              = render 'app/front/partials/index/license.haml'
              = render 'app/front/partials/index/testimonials.haml'
              
              // = render 'app/front/partials/index/_pricing.haml'
              // = render 'app/front/partials/index/_useful.haml'
              = render 'app/front/partials/index/contact.haml'
      = render 'app/front/partials/index/footer.haml'

    #body_overlay
    / JS
    %script{:src => "/assets/js/jquery-2.1.4.min.js"}
    %script{:src => "/assets/js/bootstrap.min.js"}
    %script{:src => "/assets/js/jquery.plugins.js"}
    %script{:src => "/assets/js/translate3d.js"}
    -# %script{:src => "/assets/js/scripts.js"}
    %script{:src => "/assets/js/slick.min.js"}
    %script{:src => "/assets/js/fonts.js"}
    %script{:src => "/assets/js/mfn.menu.js"}
    %script{:src => "/assets/js/jquery-validate.js", :type => "text/javascript"}
    %script{:src => "/assets/js/setting-slick.js"}
    -# %script{:src => "https://snapwidget.com/js/snapwidget.js"}
    %script{:src => "https://www.google.com/recaptcha/api.js"}
    :javascript
      $(window).scroll(function () {
        if ($(document).scrollTop() > 70 && ($(window).width() >= 768)) {
          $('.navbar-fixed-js').addClass('fixed');
          $("#iso").addClass('img-size').attr('src', 'assets/img/logo-horizontal.png').removeClass('scroll-up');

        } else {
          $('.navbar-fixed-js').removeClass('fixed');
          $("#iso").removeClass('img-size').attr('src', 'assets/img/logo.png').removeClass('scroll-up');

        }
      });
      $(function () {
        $('[data-toggle="offcanvas"]').on('click', function () {
          $('.offcanvas-collapse').toggleClass('open');
          $('body').toggleClasss('offcanvas-expanded');
        })
      })
      let navLanguage = $('.nav-language').find('p.language')
      $('.language').click(function () {
        var $this = $(this);
        if (navLanguage.hasClass('active')) {
          navLanguage.toggleClass('active');
        }
      });
      $(document).ready(function(){
        // Add smooth scrolling to all links
        $("a").on('click', function(event) {

          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
        
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });
      });