:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html.no-js
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Sacred Touch Healing
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Mobile Specific Metas
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    / Favicons
    %link{:href => "/assets/img/favicon.ico", :rel => "shortcut icon"}/
    / FONTS
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700", :rel => "stylesheet"}/
    / CSS
    %link{:href => "/assets/css/main.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/styles.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/structure.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/dietitian2.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/slick.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/slick-theme.css", :rel => "stylesheet"}/

    / Revolution Slider
    %link{:href => "/assets/css/settings.css", :rel => "stylesheet"}/
  %body.color-custom.style-default.button-default.layout-full-width.one-page.no-content-padding.header-classic.minimalist-header-no.sticky-header.sticky-tb-color.ab-hide.subheader-both-center.menu-link-color.menuo-right.menuo-no-borders.footer-copy-center.mobile-tb-hide.mobile-side-slide.mobile-mini-mr-ll.tablet-sticky.mobile-header-mini.mobile-sticky.be-reg-20881
    #Wrapper
      #Header_wrapper
        %header#Header
          .header_placeholder
          = render 'app/front/partials/navbar.haml'
          %section.banner
            .section_wrapper.mcb-section-inner
              .main-content.main-content__slider
                - @banners.each do |banner|
                  .main-content__banner
                    .main-content__items
                      .main-content__description
                        %h1.main-content__title
                          = banner.title 
                        %p.main-content__text
                          = banner.subtitle 
                        %a.rev-btn.tp-resizeme.scroll.btn.btn-banner{:href => "#About", :target => "_self"} 
                          %i.fa.fa-chevron-down
                      .main-content__img{:style => "z-index: 5"}
                        %img.img-banner{:src => "#{banner.image}"}/
      #Content
        .content_wrapper.clearfix
          .sections_group
            .entry-content
              = render 'app/front/partials/index/about.haml'
            
              = render 'app/front/partials/index/services.haml'
              = render 'app/front/partials/index/license.haml'
              = render 'app/front/partials/index/testimonials.haml'
              
              // = render 'app/front/partials/index/_pricing.haml'
              // = render 'app/front/partials/index/_useful.haml'
              = render 'app/front/partials/index/contact.haml'
      = render 'app/front/partials/index/footer.haml'
    / side menu
    #Side_slide.right.dark{"data-width" => "250"}
      .close-wrapper
        %a.close{:href => "#"}
          %i.fa.fa-close
      .extras

        .extras-wrapper
      .menu_wrapper
    #body_overlay
    / JS
    %script{:src => "/assets/js/jquery-2.1.4.min.js"}
    %script{:src => "/assets/js/jquery.plugins.js"}
    %script{:src => "/assets/js/translate3d.js"}
    %script{:src => "/assets/js/scripts.js"}
    %script{:src => "/assets/js/slick.js"}
    %script{:src => "/assets/js/fonts.js"}
    %script{:src => "/assets/js/setting-slick.js"}
    %script{:src => "https://snapwidget.com/js/snapwidget.js"}
    %script{:src => "https://www.google.com/recaptcha/api.js"}
  